<h4> List of Sessions </h4>
<ul>
<%@sessions.each do |session| %>
    <a href="/sessions/<%= session.id %>">
      <li><%= session.date %></li>
    </a>
<%end%>
</ul>

<a href="/sessions/new">Create a session</a>