<nav><a href="/">Home</a>|<a href="/sessions">Sessions</a>|<a href="/fighters">Fighters</a>|<a href="/gyms">Gyms</a></nav> 

<h4> Sessions for every fighter and gym! </h4>
<ul>
<%@sessions.each do |session| %>
    <a href="/sessions/<%= session.id %>">
      <li><%= session.date %></li>
    </a>
<%end%>
</ul>

<a href="/sessions/new">Create a session</a>