<nav><a href="/">Home</a>|<a href="/sessions">Sessions</a>|<a href="/fighters">Fighters</a>|<a href="/gyms">Gyms</a></nav> 


<h4> List of Gyms ! </h4>
<ul>
<%@gyms.each do |gym| %>
    <a href="/gyms/<%= gym.id %>">
      <li><%= gym.name %></li>
    </a>
<%end%>
</ul>

<a href="/gyms/new">Create a gym</a>