<nav><a href="/">Home</a>|<a href="/sessions">Sessions</a>|<a href="/fighters">Fighters</a>|<a href="/gyms">Gyms</a></nav> 

<h1>Welcome to Fight Central!</h1>
<h2>Let's get ready to rumble!!!!!</h4>

<a href='/fighters'>Fighters</a>
<br>
<a href='/gyms'>Gyms</a>
<br>
<a href='/sessions'>Sessions</a>